<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New York</key>
	<string>http://en.wikivoyage.org/wiki/New_York_City</string>
	<key>Boston</key>
	<string>http://en.wikivoyage.org/wiki/Boston</string>
	<key>Las Vegas</key>
	<string>http://en.wikivoyage.org/wiki/Las_vegas</string>
	<key>Cambridge</key>
	<string>http://en.wikivoyage.org/wiki/Cambridge</string>
</dict>
</plist>
