<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boston</key>
	<string>http://locaohost:8886/test2.svc/City?$filter=name eq &apos;Boston&apos;</string>
	<key>Back Bay</key>
	<string></string>
	<key>Beacon Hill</key>
	<string></string>
	<key>Charlestown</key>
	<string></string>
	<key>Chinatown</key>
	<string></string>
	<key>Dorchester</key>
	<string></string>
	<key>Downtown</key>
	<string></string>
	<key>East Boston</key>
	<string></string>
	<key>Fenway-Kenmore</key>
	<string></string>
	<key>Financial District</key>
	<string></string>
	<key>Jamaica Plain</key>
	<string></string>
	<key>Mission Hill</key>
	<string></string>
	<key>North End</key>
	<string></string>
	<key>Roxbury</key>
	<string></string>
	<key>South Boston</key>
	<string>http://www.gmail.com</string>
	<key>South End</key>
	<string></string>
</dict>
</plist>
